@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400');

$primaryColor: #ffffff;
$font-stack: 'Oswald', sans-serif;
$navBgColor: transparent;
$footerBgColor: transparent;
$footColor: #ffffff;
$mainContainerBgColor: #f4f4ef;
$submitBtnColor: #f2453d;
$mainPageHeader: #05141a;
$borderColor: #cccccc;
$cardColor: #000000;
$cardLinkColor: #f04743;

body,
html {
  padding: 0;
  margin: 0;
  font-family: $font-stack;
  background-color: $mainContainerBgColor;
  height: 100%;
}

.mainWrapper {
  font-family: $font-stack;
  padding: 0px;
  background-position: 0px 0px, 10px 10px;
  background-size: 20px 20px;
  background: linear-gradient(
      to bottom,
      rgba(3, 2, 3, 0.781) 50%,
      rgba(3, 2, 3, 0.781) 50%,
      rgba(3, 2, 3, 0.781) 50%
    ),
    url(../images/bg.jpg) no-repeat center center / cover !important;
  color: $primaryColor;
width: 100%;
position: fixed;
height: 100%;
}
.btn {
  background-color: #f2453d!important;
}
.card-profile-header {
  display: flex;
  justify-content: space-between;
}
.card-profile-name {
  display: flex;
  flex-direction: column;
}
.mainContainer {
  margin-top: 30px;
  width: 100%;
  height: 500px;
  background-color: $mainContainerBgColor;
}

nav.landingPage {
  background-color: $navBgColor !important;
  color: $primaryColor;
}
nav.mainPageHeader {
  background-color: $mainPageHeader !important;
  color: $primaryColor;

  a {
    padding-left: 20px;
  }
}

li.getStarted {
  a {
    display: inline !important;
    padding: 10px;
    background: red;
    border-radius: 7px;
  }

  a:hover {
    background-color: red !important;
    color: $primaryColor;
  }
}

nav ul li {
  margin-right: 20px !important;
}
a:hover {
  background-color: transparent !important;
}
.mainpage-header {
  background: $footerBgColor !important;
  position: relative;
  width: 100%;
  color: $footColor;
  font-size: 1em;
  z-index: 1000;
  
}

.page-footer {
  padding-top: 0 !important;
  background: $footerBgColor !important;
  bottom: 0;
  position: fixed;
  width: 100%;
  color: $footColor;
  font-size: 1em;
  z-index: 1000;
  padding-bottom: 20px;
}

.mainpage-footer {
  background: #05141a !important;
  bottom: 0;
  position: fixed;
  width: 100%;
  color: $primaryColor;
  font-size: 1em;
  z-index: 1000;
  padding: 20px;
}

.ideaboxFig {
  position: relative;
  //min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.ideaboxMainFig {
  text-align: center;
}

.ideaInner {
  position: absolute;
  opacity: 0.99;
}

.ideaboxMainFig img {
  position: relative;
  z-index: 2 !important;
}

.mainWrapper {
  .header {
    padding: 30px;
  }
  .mainContent {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 100px;
  }
}

.weAre {
  text-align: right;
  color: $primaryColor;
  h1 {
    text-align: right;
    padding: 0;
    margin: 0;
    color: $primaryColor;
  }
}

.tabs {
  // box-shadow: 2px 2px 2px #cccccc;
  color: #000000;
}
.tabs .tab a.active {
  background-color: transparent;
  color: #2f3d48 !important;
}

.tabs .tab a {
  color: #2f3d48 !important;
  font-weight: bold !important;
}

.tabs .indicator {
  cursor: pointer;
  background: #fafbfc !important;
  border-bottom: 2px solid $submitBtnColor;
  font-weight: 600;
  color: #7d97ad;
}

.authTabs {
  border-left: 1px solid #dbe2e8 !important;
  border-right: 1px solid #dbe2e8 !important;
  border-bottom: 1px solid #dbe2e8 !important;
}

.tabs .tab a.active {
  border: 1px solid #dbe2e8 !important;
  background: #fafbfc !important;
}

div#sign-in,
div#sign-up {
  padding-top: 15px !important;
  text-align: center;
  margin-top: 20px;

  h4 {
    margin: 0;
    padding: 0;
    font-size: 30px;
  }

  .signinBtn {
    background-color: $submitBtnColor !important;
  }
}

nav {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0),
    0 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

header,
main,
footer {
  padding-left: 240px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
.side-nav {
  
  width: 270px;
  margin-top: 60px
}
#sidenav-overlay {
  z-index: 99 !important;
}

.userAvatar {
  padding: 30px 0 0 70px !important;
}

.side-nav li > a.userProfile {
  margin-top: -20px !important;
}

.side-nav li > a > i {
  margin: 0 10px 0 0 !important;
  color: #000000;
}

#searchForm {
  width: 200px;
}

#searchBar {
  border: 1px solid $borderColor;
  border-radius: 20px;
  background-color: $primaryColor;
  color: #000;
  padding-left: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.border {
  border-bottom: 1px dotted $borderColor;
}

div.ideaContent {
  background-color: $primaryColor;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  
  form {
    margin-bottom: 20px;
  }
}

button.createIdeaBtn,
.btn,
.btn:hover,
button.createIdeaBtn:hover {
  background-color: $submitBtnColor;
}

div.ideaDashboard {
  margin-top: 0px;
  padding: 30px;
}

.card .card-content p,
.card .card-title {
  color: $cardColor;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: $submitBtnColor;
}

button.logout {
  background-color: transparent !important;
  border: none !important;
  padding: 0 32px !important;
}
button.delete {
  background-color: transparent !important;
  border: none !important;
}
span.logout {
  margin-right: 10px;
}

.card .cardTitle {
  font-size: 15px !important;
  font-weight: bold !important;
}

.card .card-content p {
  color: #000000;
  font-size: 13px !important;
  font-weight: normal !important;
}

.dateCreated {
  font-size: 12px;
  color: $submitBtnColor;
  font-weight: 200;
}

.author {
  font-size: 12px;
  color: $submitBtnColor;
  text-transform: capitalize;
  font-weight: 300;
}

.ideaType {
  margin-bottom: 20px;
}

.edited-card-text {
  font-style: italic;
  font-size: 10px;
  font-weight: 200;
}

.card .card-action a:hover {
  color: $cardLinkColor !important;
}
button.forgetPasswordBtn,
button.forgetPasswordBtn:hover {
  background-color: $navBgColor !important;
  color: #000000;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0),
    0 3px 1px -2px rgba(0, 0, 0, 0);
}

div.resetPasswordInfo {
  padding: 50px;
}

div.resetPasswordInfo h4 {
  font-size: 34px;
  font-weight: 300;
  line-height: 1.3;
  color: #2e3d49;
  text-align: center;
}

div.resetPasswordInfo p {
  font-size: 16px;
  line-height: 1.6;
  color: #525c65;
  max-width: 460px;
  margin: 20px auto 0;
  text-align: center;
  max-width: 390px;
}

div.resetPasswordFormContainer {
  background: #f4f4ef;
  padding: 50px 80px;
}

.resetPasswordForm {
  display: flex;
}

.resetPasswordForm input[type='email'] {
  width: 100% !important;
  height: 44px !important;
  box-sizing: border-box !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  border: 1px solid #dbe2e8 !important;
  font-size: 14px !important;
  box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05) !important;
  border-radius: 2px !important;
  color: #2e3d49 !important;
}

.commentForm input[type='text'] {
  width: 100% !important;
  height: 44px !important;
  box-sizing: border-box !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border: 1px solid #dbe2e8 !important;
  font-size: 14px !important;
  box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05) !important;
  border-radius: 2px !important;
  color: #2e3d49 !important;
}

.resetPasswordForm button, .commentForm button {
  height: 44px !important;
  padding: 0 25px !important;
  background: #02b3e4 !important;
  color: #fff !important;
  -webkit-font-smoothing: antialiased !important;
  box-sizing: border-box !important;
  font-family: Open Sans, sans-serif !important;
  display: inline-block !important;
  border: none !important;
  font-size: 12px !important;
  letter-spacing: 1px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  text-align: center !important;
}
.modal .modal-content {
  padding: 0 !important;
}

.reset-button {
    cursor: pointer;
    border: 1px solid #cccccc;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

#left-sidebar-nav {
    position: fixed!important;
    width: 100px i!important;
    left: 180px !important;
    z-index: 999 !important;
    height: auto !important;
    display: block !important;
}

.singleIdea {
  margin-top: 30px;
}
.card .singleIdeaTitle {
  font-size: 24px!important;
  font-weight: 300 !important;
  flex: none;
  padding: 5px 24px;
}

.card.large{
  height: 570px!important;
}

.commentCardAction {
  padding: 10px 10px!important;
}

.clear {
  clear: both !important;
}

.comment {
    height: auto;
    background-color: #f5f5f5;
    width: 100%;
    max-width: 725px;
    border-radius: 5px;
    font-weight: 100;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
}
.description {
    height: 200px;
    background-color: #f5f5f5;
    padding: 20px;
}
.read-content {
  display: flex;
    flex-direction: column;
}
.description-comment {
  overflow: scroll;
    padding: 0 24px 70px 24px;
    flex: 1;
}
.profile-header {
  flex: none
}
.profile-name{
  flex: none;
  padding: 11px;
}

.filterIdeas {
  padding-left: 30px;
}
@media only screen and (max-width: 601px) {
    .mainWrapper {
    font-family: $font-stack;
    padding: 0px;
    background-position: 0px 0px, 10px 10px;
    background-size: 20px 20px;
    background: linear-gradient(
        to bottom,
        rgba(3, 2, 3, 0.781) 50%,
        rgba(3, 2, 3, 0.781) 50%,
        rgba(3, 2, 3, 0.781) 50%
      ),
      url(../images/bg.jpg) no-repeat center center / cover !important;
    color: $primaryColor;
  width: 100%;
  position: relative!important;

  }

  .weAre {
  margin-top: 200px;
  padding-bottom: 50px;
  text-align: center;
  color: $primaryColor;
  h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    color: $primaryColor;
  }
}

}
@media only screen and (max-width: 600px) and (min-width: 400px)  {
   .mainWrapper {
    font-family: $font-stack;
    padding: 0px;
    background-position: 0px 0px, 10px 10px;
    background-size: 20px 20px;
    background: linear-gradient(
        to bottom,
        rgba(3, 2, 3, 0.781) 50%,
        rgba(3, 2, 3, 0.781) 50%,
        rgba(3, 2, 3, 0.781) 50%
      ),
      url(../images/bg.jpg) no-repeat center center / cover !important;
    color: $primaryColor;
  width: 100%;
  position: relative!important;

  }

  .weAre {
  margin-top: 200px;
  padding-bottom: 50px;
  text-align: center;
  color: $primaryColor;
  h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    color: $primaryColor;
  }
}
}
#sidenav-overlay { z-index: 99 !important;
  background-color: #ffffff!important;
 }

 @media only screen and (max-width: 601px) {
  .nav-wrapper {
    color: black !important;
  }
}

#sidenav-overlay {
  opacity: 0 !important;
}

.commentBy {
  font-size: 13px;
  color: $cardLinkColor;
  font-weight: 300;
  text-transform: capitalize;
}

.commentTime {
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
  font-style: italic;
}

.commentText {
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}

.ideaCategory {
  text-transform: capitalize;
}
